	 #'replaceme' is value used in setup linux script to replace in this conf
	 ServerSignature Off
	 
	 RewriteCond expr "-R '64.124.12.162'" [OR] 
	 RewriteCond expr "-R '52.8.170.4'" [OR] 
	 RewriteCond expr "-R '108.171.128.0/29'" [OR] 
	 RewriteCond expr "-R '162.210.80.0/27'" [OR] 
	 RewriteCond expr "-R '198.41.8.0/21'" [OR] 
	 RewriteCond expr "-R '66.240.205.34'"
	 RewriteCond expr "-R '89.234.68.76'"
	 RewriteRule ^.*$ replaceme [L]
	 
	 #LogLevel alert rewrite:trace3
	 #Time based access	 
	 RewriteCond %{TIME_HOUR}%{TIME_MIN} <0600 
	 RewriteCond %{TIME_HOUR}%{TIME_MIN} >1800
	 RewriteRule ^.*$ replaceme [L]
	
	#Day of week based access
	 RewriteCond %{TIME_WDAY} =0
	 RewriteCond %{TIME_WDAY} =6
	 RewriteRule ^.*$ replaceme [L]
	
	#Not allowed post
	RewriteCond %{REQUEST_METHOD} !^(GET|POST)
	 RewriteRule ^.*$ replaceme [L]
	
	#User agent strings for windows native tools
	RewriteCond %{HTTP_USER_AGENT} "bits|bitsadmin|WindowsPowerShell|certutil|adobe" [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} =""
	 RewriteRule ^.*$ replaceme [L]
	
	#User agent string for native compiled software Libs and Linux tools
	RewriteCond %{HTTP_USER_AGENT} "X11|OpenBSD|Googlebot|python|java|linux|wget|curl|.net|git|virustotalcloud|Gh0st" [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} =""
	RewriteRule ^.*$ replaceme [L]
	
	#mobile user agents
	RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iPhone|googlebot-mobile|Kindle|Nintendo|PlayStation|Windows Phone|XBOX_ONE_ED|AppleTV|Roku|CrOS|iemobile|ipad|iphone|ipod|opera mobile|palmos|webos" [NC]
	RewriteRule ^.*$ replaceme [L]
	
	#If useragent contains below filter with catch at bottom
	RewriteCond %{HTTP_USER_AGENT} "Firefox/3.6.8|Safari|OS x|-|HTTP Banner Detection|Lynx|Slackbot|nmap|burp|cloudfront|bingbot|clshttp|archiver|sparta|loader|email|nikto|nessus|rapid|Qualys|vas|miner|sparta|HTTrack|crawl|shell|yahoo|google|bot|b\-o\-t|spider|baidu" [NC]
	RewriteRule ^.*$ replaceme [L]
	
	#RewriteCond %{HTTP_USER_AGENT} "windows nt" [NC]
	#RewriteRule ^.*$ index.html [L]
	
	#Below is what happend is blcklist above is hit
	#RewriteRule ^.*$ replaceme [L,R=302]
	#RewriteRule ^.*$ replaceme [L]
