	 #'replaceme' is value used in setup linux script to replace in this conf
	 ServerSignature Off
	 
	 RewriteCond expr "-R '167.114.101.0/24'" [OR]
	 RewriteCond expr "-R '64.124.12.162'" [OR] 
	 RewriteCond expr "-R '52.8.170.4'" [OR] 
	 RewriteCond expr "-R '108.171.128.0/29'" [OR] 
	 RewriteCond expr "-R '162.210.80.0/27'" [OR] 
	 RewriteCond expr "-R '198.41.8.0/21'" [OR] 
	 RewriteCond expr "-R '66.240.205.34'"[OR]
	 RewriteCond expr "-R '89.234.68.76'" [OR]
	 RewriteCond expr "-R '89.234.68.88'" [OR]
	 RewriteCond expr "-R '157.55.39.43'" [OR]
	 RewriteCond expr "-R '157.55.39.43'" [OR]
	 RewriteCond expr "-R '51.79.128.0/17'" [OR]
	 RewriteCond expr "-R '46.105.199.0/24'" [OR]
	 RewriteCond expr "-R '178.32.135.0/24'" [OR]
	 RewriteCond expr "-R '51.38.0.0/16'" [OR]
	 RewriteCond expr "-R '216.32.192.0/24'" [OR]
	 RewriteCond expr "-R '46.105.200.0/24'" [OR]
	 RewriteCond expr "-R '167.114.192.0/19'" [OR]
	 RewriteCond expr "-R '91.121.0.0/16'" [OR]
	 RewriteCond expr "-R '54.37.0.0/16'" [OR]
	 RewriteCond expr "-R '216.32.194.0/24'" [OR]
	 RewriteCond expr "-R '185.12.32.0/23'" [OR]
	 RewriteCond expr "-R '8.29.224.0/24'" [OR]
	 RewriteCond expr "-R '91.90.93.0/24'" [OR]
	 RewriteCond expr "-R '46.105.196.0/23'" [OR]
	 RewriteCond expr "-R '91.90.95.0/24'" [OR]
	 RewriteCond expr "-R '91.134.0.0/16'" [OR]
	 RewriteCond expr "-R '178.32.0.0/15'" [OR]
	 RewriteCond expr "-R '193.70.0.0/17'" [OR]
	 RewriteCond expr "-R '37.60.48.0/21'" [OR]
	 RewriteCond expr "-R '185.228.97.0/24'" [OR]
	 RewriteCond expr "-R '51.91.0.0/16'" [OR]
	 RewriteCond expr "-R '37.59.0.0/16'" [OR]
	 RewriteCond expr "-R '94.23.0.0/16'" [OR]
	 RewriteCond expr "-R '193.104.19.0/24'" [OR]
	 RewriteCond expr "-R '198.100.144.0/20'" [OR]
	 RewriteCond expr "-R '145.239.0.0/16'" [OR]
	 RewriteCond expr "-R '5.39.0.0/17'" [OR]
	 RewriteCond expr "-R '8.20.110.0/24'" [OR]
	 RewriteCond expr "-R '8.7.244.0/24'" [OR]
	 RewriteCond expr "-R '185.243.16.0/24'" [OR]
	 RewriteCond expr "-R '185.228.98.0/24'" [OR]
	 RewriteCond expr "-R '8.24.8.0/21'" [OR]
	 RewriteCond expr "-R '91.90.91.0/24'" [OR]
	 RewriteCond expr "-R '147.135.128.0/17'" [OR]
	 RewriteCond expr "-R '51.81.0.0/17'" [OR]
	 RewriteCond expr "-R '167.114.224.0/19'" [OR]
	 RewriteCond expr "-R '46.105.201.0/24'" [OR]
	 RewriteCond expr "-R '91.90.88.0/21'" [OR]
	 RewriteCond expr "-R '198.27.64.0/18'" [OR]
	 RewriteCond expr "-R '151.80.0.0/16'" [OR]
	 RewriteCond expr "-R '193.109.63.0/24'" [OR]
	 RewriteCond expr "-R '46.105.0.0/16'" [OR]
	 RewriteCond expr "-R '37.60.56.0/21'" [OR]
	 RewriteCond expr "-R '8.18.128.0/24'" [OR]
	 RewriteCond expr "-R '139.99.128.0/17'" [OR]
	 RewriteCond expr "-R '103.5.12.0/22'" [OR]
	 RewriteCond expr "-R '91.90.92.0/24'" [OR]
	 RewriteCond expr "-R '46.105.194.0/23'" [OR]
	 RewriteCond expr "-R '51.81.128.0/17'" [OR]
	 RewriteCond expr "-R '92.222.0.0/16'" [OR]
	 RewriteCond expr "-R '46.105.198.0/24'" [OR]
	 RewriteCond expr "-R '195.246.232.0/23'" [OR]
	 RewriteCond expr "-R '46.105.202.0/24'" [OR]
	 RewriteCond expr "-R '164.132.0.0/16'" [OR]
	 RewriteCond expr "-R '213.251.128.0/18'" [OR]
	 RewriteCond expr "-R '54.38.0.0/16'" [OR]
	 RewriteCond expr "-R '188.165.0.0/16'" [OR]
	 RewriteCond expr "-R '79.137.0.0/17'" [OR]
	 RewriteCond expr "-R '149.56.0.0/16'" [OR]
	 RewriteCond expr "-R '46.244.32.0/20'" [OR]
	 RewriteCond expr "-R '158.69.0.0/16'" [OR]
	 RewriteCond expr "-R '8.33.128.0/21'" [OR]
	 RewriteCond expr "-R '46.105.192.0/20'" [OR]
	 RewriteCond expr "-R '167.114.0.0/17'" [OR]
	 RewriteCond expr "-R '51.79.0.0/17'" [OR]
	 RewriteCond expr "-R '147.135.0.0/17'" [OR]
	 RewriteCond expr "-R '198.50.128.0/17'" [OR]
	 RewriteCond expr "-R '142.44.128.0/17'" [OR]
	 RewriteCond expr "-R '8.33.96.0/21'" [OR]
	 RewriteCond expr "-R '216.32.220.0/24'" [OR]
	 RewriteCond expr "-R '213.186.32.0/19'" [OR]
	 RewriteCond expr "-R '67.114.128.0/18'" [OR]
	 RewriteCond expr "-R '8.33.136.0/24'" [OR]
	 RewriteCond expr "-R '23.92.224.0/19'" [OR]
	 RewriteCond expr "-R '217.182.0.0/16'" [OR]
	 RewriteCond expr "-R '192.95.0.0/18'" [OR]
	 RewriteCond expr "-R '51.77.0.0/16'" [OR]
	 RewriteCond expr "-R '8.33.137.0/24'" [OR]
	 RewriteCond expr "-R '185.228.96.0/24'" [OR]
	 RewriteCond expr "-R '91.90.94.0/24'" [OR]
	 RewriteCond expr "-R '144.2.32.0/19'" [OR]
	 RewriteCond expr "-R '87.98.128.0/17'" [OR]
	 RewriteCond expr "-R '195.110.30.0/23'" [OR]
	 RewriteCond expr "-R '216.32.213.0/24'" [OR]
	 RewriteCond expr "-R '185.45.160.0/22'" [OR]
	 RewriteCond expr "-R '8.30.208.0/21'" [OR]
	 RewriteCond expr "-R '8.21.41.0/24'" [OR]
	 RewriteCond expr "-R '205.218.49.0/24'" [OR]
	 RewriteCond expr "-R '8.26.94.0/24'" [OR]
	 RewriteCond expr "-R '51.89.0.0/16'" [OR]
	 RewriteCond expr "-R '216.32.216.0/24'" [OR]
	 RewriteCond expr "-R '5.135.0.0/16'" [OR]
	 RewriteCond expr "-R '176.31.0.0/16'" [OR]
	 RewriteCond expr "-R '137.74.0.0/16'" [OR]
	 RewriteCond expr "-R '46.105.203.0/24'" [OR]
	 RewriteCond expr "-R '91.90.88.0/24'" [OR]
	 RewriteCond expr "-R '213.32.0.0/17'" [OR]
	 RewriteCond expr "-R '51.254.0.0/15'" [OR]
	 RewriteCond expr "-R '54.39.0.0/16'" [OR]
	 RewriteCond expr "-R '185.228.99.0/24'" [OR]
	 RewriteCond expr "-R '8.18.172.0/24'" [OR]
	 RewriteCond expr "-R '51.83.0.0/16'" [OR]
	 RewriteCond expr "-R '142.4.192.0/19'" [OR]
	 RewriteCond expr "-R '192.99.0.0/16'" [OR]
	 RewriteCond expr "-R '54.36.0.0/16'" [OR]
 	 RewriteCond expr "-R '216.32.218.0/24'" [OR]
	 RewriteCond expr "-R '198.245.48.0/20'" [OR]
	 RewriteCond expr "-R '66.70.128.0/17'" [OR]
	 RewriteCond expr "-R '51.75.0.0/16'" [OR]
	 RewriteCond expr "-R '198.27.92.0/24'" [OR]
	 RewriteCond expr "-R '144.217.0.0/16'" [OR]
	 RewriteCond expr "-R '37.187.0.0/16'" [OR]
	 RewriteCond expr "-R '46.105.192.0/23'" [OR]
	 RewriteCond expr "-R '107.189.64.0/18'" [OR]
 	 RewriteCond expr "-R '5.196.0.0/16'" [OR]
 	 RewriteCond expr "-R '91.90.89.0/24'" [OR]
 	 RewriteCond expr "-R '51.68.0.0/16'" [OR]
 	 RewriteCond expr "-R '91.90.90.0/24'" [OR]
 	 RewriteCond expr "-R '92.246.224.0/19'" [OR]
 	 RewriteCond expr "-R '149.202.0.0/16'" [OR]
 	 RewriteCond expr "-R '139.99.0.0/17'" [OR]
	 RewriteCond expr "-R '192.240.152.0/21'" [OR]
	 RewriteCond expr "-R '128.14.209.0/24'" [OR]
	 RewriteCond expr "-R '64.124.12.162'" [OR] 
	 RewriteCond expr "-R '52.8.170.4'" [OR] 
	 RewriteCond expr "-R '108.171.128.0/29'" [OR] 
	 RewriteCond expr "-R '162.210.80.0/27'" [OR] 
	 RewriteCond expr "-R '198.41.8.0/21'" [OR] 
	 RewriteCond expr "-R '66.240.205.34'"[OR]
	 RewriteCond expr "-R '89.234.68.76'" [OR]
	 RewriteCond expr "-R '89.234.68.88'" [OR]
	 RewriteCond expr "-R '157.55.39.43'" [OR]
         RewriteCond expr "-R '128.14.209.0/24'" 
	 RewriteRule ^.*$ replaceme [L]
	 
	 #LogLevel alert rewrite:trace3
	 #Time based access	 
	 RewriteCond %{TIME_HOUR}%{TIME_MIN} <0600 
	 RewriteCond %{TIME_HOUR}%{TIME_MIN} >1800
	 RewriteRule ^.*$ replaceme [L]
	
	#Day of week based access
	 RewriteCond %{TIME_WDAY} =0
	 RewriteCond %{TIME_WDAY} =6
	 RewriteRule ^.*$ replaceme [L]
	
	#Not allowed post
	RewriteCond %{REQUEST_METHOD} !^(GET|POST)
	 RewriteRule ^.*$ replaceme [L]
	
	#User agent strings for windows native tools
	RewriteCond %{HTTP_USER_AGENT} "bits|bitsadmin|WindowsPowerShell|certutil|adobe" [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} =""
	 RewriteRule ^.*$ replaceme [L]
	
	#User agent string for native compiled software Libs and Linux tools
	RewriteCond %{HTTP_USER_AGENT} "zgrab|+|X11|OpenBSD|Googlebot|python|java|linux|wget|curl|.net|git|virustotalcloud|Gh0st" [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} =""
	RewriteRule ^.*$ replaceme [L]
	
	#mobile user agents
	RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iPhone|googlebot-mobile|Kindle|Nintendo|PlayStation|Windows Phone|XBOX_ONE_ED|AppleTV|Roku|CrOS|iemobile|ipad|iphone|ipod|opera mobile|palmos|webos" [NC]
	RewriteRule ^.*$ replaceme [L]
	
	#If useragent contains below filter with catch at bottom
	RewriteCond %{HTTP_USER_AGENT} "Firefox/3.6.8|Safari|OS x|-|HTTP Banner Detection|Lynx|Slackbot|nmap|burp|cloudfront|bingbot|clshttp|archiver|sparta|loader|email|nikto|nessus|rapid|Qualys|vas|miner|sparta|HTTrack|crawl|shell|yahoo|google|bot|b\-o\-t|spider|baidu" [NC]
	RewriteRule ^.*$ replaceme [L]
	
	#RewriteCond %{HTTP_USER_AGENT} "windows nt" [NC]
	#RewriteRule ^.*$ index.html [L]
	
	#Below is what happend is blcklist above is hit
	#RewriteRule ^.*$ replaceme [L,R=302]
	#RewriteRule ^.*$ replaceme [L]
